header {
  height: 100px;
  width: 100vw;
  position: fixed;
  top:50px;
  left: 0;
  z-index: 100;
  -webkit-animation: navComparsa 2s ease;

  #hamburger-menu {
    display: none;
  }

  .nav-start {
    padding-top: 50px;
    width: 60%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.65);
    padding: 10px 30px;
    box-shadow: inset 1px -25px 20px 1px #888888;
    border-radius: 40px;
    border-left: 5px solid rgb(212, 139, 106);
    border-right: 5px solid rgb(212, 139, 106);
    transition: ease 0.5s;
    margin: 0 auto;
    animation-name: waveNav;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .contenitore {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #logo-nav {
        height: 200%;
        transition: ease 1s;
        cursor: pointer;
        &:hover{
          height: 250%;
          transform:rotate(-10deg);
        }
      }

      #nav-list {
        margin-bottom: 0;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        height: 100%;

        li {
          padding: 0 10px;
          border-radius: 30px;
          display: flex;
          align-items: center;
          height: 100%;
          color: white;
          font-size: 18px;
          font-weight: bold;
          transition: ease 0.3s;
            &:hover {
              border-left: 3px solid rgb(212, 139, 106);
              border-right: 3px solid rgb(212, 139, 106);
              color: rgb(212, 139, 106);
              font-size: 25px;
              cursor: pointer;
            }
        }
      }
    }
  }

  .nav-scroll {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px 30px;
    box-shadow: inset 1px -25px 20px 1px #888888;
    margin: 0 auto;
    animation-name: waveNav;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    transition: ease 0.5s;

    .contenitore {
      width: 1230px;
      display: flex;
      justify-content: center;
      align-items: center;

      #logo-nav {
        position: absolute;
        height: 220%;
        transform: rotate(-10deg);
        left: 100px;
        top: -10px;
        transition: ease 0.5s;
        cursor: pointer;
        &:hover {
          height: 250%;
        }
      }

      #nav-list {
        margin-bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;

        li {
          color: white;
          padding: 0 10px;
          font-size: 20px;
          font-weight: bold;
          border-radius: 20px;
          &:hover {
            border-left: 3px solid rgb(212, 139, 106);
            border-right: 3px solid rgb(212, 139, 106);
            color: rgb(212, 139, 106);
            font-size: 30px;
            transition: ease 0.3s;
            cursor: pointer;
          }
        }
      }
    }
  }
}


// animazioni

@keyframes navComparsa {
  0% {opacity:0; top:0;}
  100% {opacity:1; top:50px;}
}

@keyframes waveNav {
  0%   {box-shadow: inset 1px -25px 20px 1px #888888;}
 50%  {box-shadow: inset 1px -15px 20px 1px #888888;}
 100% {box-shadow: inset 1px -25px 20px 1px #888888;}
}






// MEDIA QUERY -------------------------------------------------------------------------

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {


  header {
    height: 60px; //cambiato
    top: 0px;  //cambiato
    -webkit-animation: none ; //cambiato

    #hamburger-menu {
      display: blocK; //cambiato
      font-size: 55px; //cambiato
      color: white; //cambiato
    }

    #navbar {
      padding-top: 10px; //cambiato
      width: 100%; //cambiato
      background-color:rgba(0, 0, 0, 0.95); //cambiato
      border-radius: 0px; //cambiato
      border-left: 10px solid rgb(212, 139, 106); //cambiato
      border-right: 10px solid rgb(212, 139, 106); //cambiato

      .contenitore {
        #logo-nav {
          height: 160%; //cambiato
          &:hover{
            height: 160%;  //cambiato
            transform:rotate(0deg);  //cambiato
          }
        }

        #nav-list {
          display: none; //cambiato
        }
      }
    }
  }
}
