.main-content {
  background-color: rgb(181, 188, 195);
  padding-bottom: 100px;
}


// JUMBOTRON -----------------------------------------------------------------------------------------
.jumbotron {
  width: 100%;
  padding: 0;
  margin-bottom: 150px;
  position: relative;
  // margin-top: 100px;
  .immagini {
    img {
      width: 100%;
    }
  }
}

.fa-angle-double-down {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 150px;
  height: 150px;
  transform: rotate(90deg);
  animation-name: move-down-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor:pointer;
}

// SEZIONE ATTIVITA' GENERICHE ---------------------------------------------------------------------------------------

.contenitore {
  h1 {
    text-align: center;
    margin-bottom: 100px;
  }

  #primaSezione {
    width: 100%;
    height: 150px;
    opacity: 0;
  }

  #titolo-home {
    @extend %stile-titoli;
  }

  .separatore {
    width: 100%;
    height: 1px;
    background-color: rgb(173, 173, 173);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sezioni-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding: 0 20px;

    h2 {
      font-size: 50px;
    }

    #img-streetdance {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/streetdance.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/streetdancegif.gif');
      }
    }

    #img-dance {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/danza.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/moderngif.gif');
      }
    }

    #img-poledance {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/poledance.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/polegif.gif');
      }
    }

    #img-fitness {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/fitness.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/zumbagif.gif');
      }
    }

    .paragrafi {
      width: 50%;
      border-left: 5px solid rgb(212, 139, 106);
      border-right: 5px solid rgb(212, 139, 106);
      padding: 0 20px;
    }
  }
}

//animazioni ----------------------

@keyframes move-down-arrow {
  0%   {bottom: -50px;}
 50%  {bottom: -65px;}
 100% {bottom: -50px;}
}

// mixin -------------------------

%immagini-background {
  width: 45%;
  height: 130%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: width 2s, height 4s;
}

%immagini-shadow {
  box-shadow: 10px 10px 10px 10px rgb(142, 142, 142);
  border-radius: 10px 10px 10px 10px;
}

%stile-titoli {
  border-left: 10px solid rgb(212, 139, 106);
  border-right: 10px solid rgb(212, 139, 106);
  box-shadow: 0px -25px 20px 0px #4d4b4c;
  border-radius: 20px;
  font-weight: bold;
}


// SEZIONE CORSI ------------------------------------------

#titolo-corsi {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 50px;
  @extend %stile-titoli;
  text-align: center;
  padding: 10px;
}
.corsi-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .card-corsi {
    width: 19%;
    height: 300px;
    transform: skewX(-10deg);
    position: relative;
    overflow: hidden;
    transition: ease 1s;
    cursor: pointer;
    &:hover {
      .corso-hip-hop {
        transform: scale(1.1) skewX(10deg) rotate(7deg);
        filter: blur(0.6px);
      }
      .corso-title {
        width: 90%;
        z-index: 3;
      }

      .fa-info-circle{
        display: block;
        position: absolute;
        color: red;
        z-index: 2;
        left: 45%;
        top: 35%;
        font-size: 70px;
        transform: skewX(10deg);
      }
    }

    .corso-hip-hop {
      width: 130%;
      height: auto;
      transform: skewX(10deg);
      height:100%;
      position: absolute;
      left: -30px;
      transition: ease 1s;
    }

    .corso-title {
      padding: 5px;
      text-align: center;
      width: 70%;
      font-size: 100%;
      color: white;
      position: absolute;
      left: -5px;
      bottom: 5%;
      z-index: 3;
      transform: skewX(10deg);
      transition: ease 1s;
      background-color: rgb(78, 78, 78);
    }

    .fa-info-circle {
      display: none;
      width: 100%;
      height: 100%;
      transition: ease 1s;
    }

    .corsi-side-content {
      display: none;
    }
  }

  .corsi-side-content{
    display: none;
    position: fixed;
    height: 100%;
    padding-top: 100px;
    width: 24%;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: #4e4e4e;
    border-left: 5px solid black;
    animation: slideRight linear 1s;

    .fa-chevron-circle-right{
      width: 100px;
      height: 100px;
      position: absolute;
      top: 300px;
      left: -50px;
      z-index: 10;
      color: #d48b6a;
      cursor: pointer;
    }

    .side-content-image {
      width: 100%;
      height: auto;
    }

    .side-content-title{
      color: white;
      margin: 20px;
      font-size: 40px;
    }

    .side-content-description{
      color: white;
      margin: 20px;
    }

    .mini-insegnante {
      width: 25%;
      border: 5px solid black;
      border-radius: 50%;
      margin-left: 20px;
      transition: ease 0.5s;
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.corsi-section .active{
  display: block;
}

.corsi-section .slideOutRight{
  animation: slideOutRight linear 1s;

}
//ANIMATION ----------------------

@keyframes slideRight {
  0% {right: -50%;}

  100%{right: 0}
}

@keyframes slideOutRight{
  0% {right: 0;}

  100%{right: -100%}
}









// SEZIONE STAFF ------------------------------------------------------------------------------------------------

#scroll-to-staff {
  height: 0px;
  width: 100%;
  opacity: 0;
}
#titolo-staff {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  @extend %stile-titoli;
  text-align: center;
  padding: 10px;
}

.staff-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .card-staff {
    width: 18%;
    height: 300px;
    position: relative;
    cursor: pointer;

    &:hover{
      .foto-insegnante{
        right: 12%;
      }

      .retro-stile{
        right: 10px;
      }

      .foto-insegnante{
        .foto-staff{
          transform: skewX(10deg) scale(1.1) rotate(-3deg);
        }
      }

    }
    .foto-insegnante{
      max-width: 230px;
      width: 80%;
      height: 75%;
      position: absolute;
      right: 10%;
      top: 0;
      transform: skewX(-10deg);
      overflow: hidden;
      z-index: 3;
      transition: ease 1s;

      .foto-staff {
        width: 130%;
        height: auto;
        transform: skewX(10deg);
        height:100%;
        position: absolute;
        left: -30px;
        transition: ease 1s;
      }

      .nome-insegnante {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        padding-right: 10px;
        height: 50px;
        z-index: 2;
        width: 100%;
        color: rgb(0, 255, 233);
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.64);
      }


    }
    .retro-stile {
      width: 80%;
      height: 85%;
      position: absolute;
      right: 20px;
      bottom: 10px;
      background: rgb(0, 255, 233);
      transform: skewX(-10deg);
      overflow: hidden;
      z-index: 2;
      transition: ease 1s;

      .stile-insegnante {
        position: absolute;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        padding-right: 10px;
        height: 50px;
        z-index: 2;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .staff-side-content{
    display: none;
    position: fixed;
    height: 100%;
    padding-top: 100px;
    width: 24%;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: #4e4e4e;
    border-right: 5px solid black;
    animation: slideLeft linear 1s;

    .fa-chevron-circle-left{
      width: 100px;
      height: 100px;
      position: absolute;
      transform: rotate(180deg);
      top: 300px;
      right: -50px;
      z-index: 10;
      color: #d48b6a;
      cursor: pointer;
    }

    .side-content-image {
      width: 100%;
      height: auto;
    }

    .side-content-title{
      color: white;
      margin: 20px;
      font-size: 40px;
    }

    .side-content-description{
      color: white;
      margin: 20px;
    }
  }
}

.staff-section .active{
  display: block;
}

.staff-section .slideOutLeft{
  animation: slideOutLeft linear 1s;

}
//ANIMATION ----------------------

@keyframes slideLeft {
  0% {left: -50%;}

  100%{left: 0}
}

@keyframes slideOutLeft{
  0% {left: 0;}

  100%{left: -100%}
}



// SEZIONE ORARI ---------------------------------------------------------------------------------------------

#scroll-to-orari {
  height: 0px;
  width: 100%;
  opacity: 0;
}
#titolo-orari {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  @extend %stile-titoli;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}

.orari-section {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // height: 100vh;
  .planning {
    width: 65%;
    height: 100%;
    #planning-img{
      width: 100%;
      height: auto;
      box-shadow: 10px 10px 10px 10px rgb(56, 56, 56);
    }
  }
}

// CONTATTI -----------------------------------------------------

  #map {
    border: 2px solid black;
    height: 700px;
    width: 1000px;
  }







// BUTTON SCROLL-UP

#button-scroll-up {
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  animation-name: move-up-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  &:hover {
    cursor: pointer;
  }
  .fa-angle-double-up {
    transform: rotate(-90deg);
    width: 100px;
    height: 100px;

  }

@keyframes move-up-arrow {
  0%   {bottom: 50px;}
 50%  {bottom: 30px;}
 100% {bottom: 50px;}
}


}
