// SEZIONE ATTIVITA' GENERICHE ---------------------------------------------------------------------------------------

.contenitore {
  h1 {
    text-align: center;
    margin-bottom: 100px;
  }

  #primaSezione {
    width: 100%;
    height: 150px;
    opacity: 0;
  }

  #titolo-home {
    @extend %stile-titoli;
  }

  .separatore {
    width: 100%;
    height: 1px;
    background-color: rgb(173, 173, 173);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sezioni-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding: 0 20px;

    h2 {
      font-size: 50px;
    }

    #img-streetdance {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/streetdance.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/streetdancegif.gif');
      }
    }

    #img-dance {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/danza.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/moderngif.gif');
      }
    }

    #img-poledance {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/poledance.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/polegif.gif');
      }
    }

    #img-fitness {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/fitness.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/zumbagif.gif');
      }
    }

    #img-summercamp {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/summer_camp.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/polegif.gif');
      }
    }

    #img-piccolizie {
      @extend %immagini-background;
      @extend %immagini-shadow;
      background-image: url('../../public/img/piccolizie.jpg');

      &:hover {
        width: 65%;
        background-image: url('../../public/img/polegif.gif');
      }
    }

    .paragrafi {
      width: 50%;
      border-left: 5px solid rgb(212, 139, 106);
      border-right: 5px solid rgb(212, 139, 106);
      padding: 0 20px;
    }
  }
}

//animazioni ----------------------

@keyframes move-down-arrow {
  0%   {bottom: 20px;}
 50%  {bottom: 10px;}
 100% {bottom: 20px;}
}

// mixin -------------------------

%immagini-background {
  width: 45%;
  height: 130%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: width 2s, height 4s;
}

%immagini-shadow {
  box-shadow: 10px 10px 10px 10px rgb(142, 142, 142);
  border-radius: 10px 10px 10px 10px;
}

%stile-titoli {
  border-left: 10px solid rgb(212, 139, 106);
  border-right: 10px solid rgb(212, 139, 106);
  // box-shadow: 0px -25px 20px 0px #4d4b4c;
  border-radius: 20px;
  font-weight: bold;
}


// MEDIA QUERY -------------------------------------------------------------------------

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {

  .contenitore {
    h1 {
      text-align: center;
      margin-bottom: 100px;
    }

    #primaSezione {
      width: 90vw;
      height: 10px;
      opacity: 0;
    }

    #titolo-home {
      width: 90vw;
      margin: 0 auto;
      font-size: 12px;
      margin-bottom: 20px;
    }

    .separatore {
      width: 90vw;
      height: 1px;
      background-color: rgb(173, 173, 173);
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .sezioni-home.left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 50px;
      height: auto;
      padding: 0 20px;

      h2 {
        font-size: 30px;
      }

      #img-streetdance {
        width: 100%;
        height: 180px;
        margin-bottom: 30px;
        box-shadow: 10px 15px 15px 0px #8e8e8e;
        background-image: url('../../public/img/streetdance.jpg');

        &:hover {
          width: 90vw;
          background-image: url('../../public/img/streetdancegif.gif');
        }
      }

      #img-poledance {
        width: 100%;
        height: 180px;
        margin-bottom: 30px;
        box-shadow: 10px 15px 15px 0px #8e8e8e;
        background-image: url('../../public/img/poledance.jpg');

        &:hover {
          width: 90vw;
          background-image: url('../../public/img/polegif.gif');
        }
      }

      #img-summercamp {
        width: 100%;
        height: 180px;
        margin-bottom: 30px;
        box-shadow: 10px 15px 15px 0px #8e8e8e;
        background-image: url('../../public/img/summer_camp.jpg');

        &:hover {
          width: 90vw;
          background-image: url('../../public/img/polegif.gif');
        }
      }

      .paragrafi {
        width: 90vw;
        border-left: 5px solid rgb(212, 139, 106);
        border-right: 5px solid rgb(212, 139, 106);
        padding: 0 20px;
      }
    }

    .sezioni-home.right {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 50px;
      height: auto;
      padding: 0 20px;

      h2 {
        font-size: 30px;
      }

      #img-dance {
        background-image: url('../../public/img/danza.jpg');
        width: 100%;
        height: 180px;
        margin-bottom: 30px;
        box-shadow: 10px 15px 15px 0px #8e8e8e;

        &:hover {
          width: 90vw;
          background-image: url('../../public/img/moderngif.gif');
        }
      }

      #img-fitness {
        background-image: url('../../public/img/fitness.jpg');
        width: 100%;
        height: 180px;
        margin-bottom: 30px;
        box-shadow: 10px 15px 15px 0px #8e8e8e;

        &:hover {
          width: 90vw;
          background-image: url('../../public/img/zumbagif.gif');
        }
      }

      #img-piccolizie {
        background-image: url('../../public/img/piccolizie.jpg');
        width: 100%;
        height: 180px;
        margin-bottom: 30px;
        box-shadow: 10px 15px 15px 0px #8e8e8e;

        &:hover {
          width: 90vw;
          background-image: url('../../public/img/polegif.gif');
        }
      }

      .paragrafi {
        width: 90vw;
        border-left: 5px solid rgb(212, 139, 106);
        border-right: 5px solid rgb(212, 139, 106);
        padding: 0 20px;
      }
    }
  }

}
