@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;

800;900&display=swap);header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 100;
  -webkit-animation: navComparsa 2s ease;
}

header .nav-start {
  padding-top: 50px;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px 30px;
  box-shadow: inset 1px -25px 20px 1px #888888;
  border-radius: 40px;
  border-left: 5px solid #d48b6a;
  border-right: 5px solid #d48b6a;
  transition: ease 0.5s;
  margin: 0 auto;
  -webkit-animation-name: waveNav;
          animation-name: waveNav;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

header .nav-start .contenitore {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-start .contenitore #logo-nav {
  height: 200%;
  transition: ease 1s;
  cursor: pointer;
}

header .nav-start .contenitore #logo-nav:hover {
  height: 250%;
  transform: rotate(-10deg);
}

header .nav-start .contenitore #nav-list {
  margin-bottom: 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}

header .nav-start .contenitore #nav-list li {
  padding: 0 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: ease 0.3s;
}

header .nav-start .contenitore #nav-list li:hover {
  border-left: 3px solid #d48b6a;
  border-right: 3px solid #d48b6a;
  color: #d48b6a;
  font-size: 25px;
  cursor: pointer;
}

header .nav-scroll {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 10px 30px;
  box-shadow: inset 1px -25px 20px 1px #888888;
  margin: 0 auto;
  -webkit-animation-name: waveNav;
          animation-name: waveNav;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: relative;
  transition: ease 0.5s;
}

header .nav-scroll .contenitore {
  width: 1230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-scroll .contenitore #logo-nav {
  position: absolute;
  height: 220%;
  transform: rotate(-10deg);
  left: 100px;
  top: -10px;
  transition: ease 0.5s;
  cursor: pointer;
}

header .nav-scroll .contenitore #logo-nav:hover {
  height: 250%;
}

header .nav-scroll .contenitore #nav-list {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

header .nav-scroll .contenitore #nav-list li {
  color: white;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

header .nav-scroll .contenitore #nav-list li:hover {
  border-left: 3px solid #d48b6a;
  border-right: 3px solid #d48b6a;
  color: #d48b6a;
  font-size: 30px;
  transition: ease 0.3s;
  cursor: pointer;
}

@-webkit-keyframes navComparsa {
  0% {
    opacity: 0;
    top: 0;
  }

  100% {
    opacity: 1;
    top: 50px;
  }
}

@keyframes navComparsa {
  0% {
    opacity: 0;
    top: 0;
  }

  100% {
    opacity: 1;
    top: 50px;
  }
}

@-webkit-keyframes waveNav {
  0% {
    box-shadow: inset 1px -25px 20px 1px #888888;
  }

  50% {
    box-shadow: inset 1px -15px 20px 1px #888888;
  }

  100% {
    box-shadow: inset 1px -25px 20px 1px #888888;
  }
}

@keyframes waveNav {
  0% {
    box-shadow: inset 1px -25px 20px 1px #888888;
  }

  50% {
    box-shadow: inset 1px -15px 20px 1px #888888;
  }

  100% {
    box-shadow: inset 1px -25px 20px 1px #888888;
  }
}

footer {
  width: 100%;
  height: 100px;
  background-color: #d48b6a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer p {
  margin: 0 auto;
}

.main-content {
  background-color: #b5bcc3;
  padding-bottom: 100px;
}

.jumbotron {
  width: 100%;
  padding: 0;
  margin-bottom: 150px;
  position: relative;
}

.jumbotron .immagini img {
  width: 100%;
}

.fa-angle-double-down {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 150px;
  height: 150px;
  transform: rotate(90deg);
  -webkit-animation-name: move-down-arrow;
          animation-name: move-down-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  cursor: pointer;
}

.contenitore h1 {
  text-align: center;
  margin-bottom: 100px;
}

.contenitore #primaSezione {
  width: 100%;
  height: 150px;
  opacity: 0;
}

.contenitore .separatore {
  width: 100%;
  height: 1px;
  background-color: #adadad;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contenitore .sezioni-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  padding: 0 20px;
}

.contenitore .sezioni-home h2 {
  font-size: 50px;
}

.contenitore .sezioni-home #img-streetdance {
  background-image: url(/images/streetdance.jpg?2596557659dceeec2bba71f491b5331d);
}

.contenitore .sezioni-home #img-streetdance:hover {
  width: 65%;
  background-image: url(/images/streetdancegif.gif?1395e092707af76f9acabeaa7cfffa71);
}

.contenitore .sezioni-home #img-dance {
  background-image: url(/images/danza.jpg?dc81844d8dcb217b6a4c591071727ee2);
}

.contenitore .sezioni-home #img-dance:hover {
  width: 65%;
  background-image: url(/images/moderngif.gif?29f3129c96fbab57881680cdcf639734);
}

.contenitore .sezioni-home #img-poledance {
  background-image: url(/images/poledance.jpg?48124e542c77f6d2ef8698d92e3bc4ec);
}

.contenitore .sezioni-home #img-poledance:hover {
  width: 65%;
  background-image: url(/images/polegif.gif?b47d9c073e7e15f23fd243901600d597);
}

.contenitore .sezioni-home #img-fitness {
  background-image: url(/images/fitness.jpg?78b9343f32a2daa52ca1dddd74d0e65b);
}

.contenitore .sezioni-home #img-fitness:hover {
  width: 65%;
  background-image: url(/images/zumbagif.gif?dd8f5c02a379568f8888749b4ce9324e);
}

.contenitore .sezioni-home .paragrafi {
  width: 50%;
  border-left: 5px solid #d48b6a;
  border-right: 5px solid #d48b6a;
  padding: 0 20px;
}

@-webkit-keyframes move-down-arrow {
  0% {
    bottom: -50px;
  }

  50% {
    bottom: -65px;
  }

  100% {
    bottom: -50px;
  }
}

@keyframes move-down-arrow {
  0% {
    bottom: -50px;
  }

  50% {
    bottom: -65px;
  }

  100% {
    bottom: -50px;
  }
}

.contenitore .sezioni-home #img-streetdance,
.contenitore .sezioni-home #img-dance,
.contenitore .sezioni-home #img-poledance,
.contenitore .sezioni-home #img-fitness {
  width: 45%;
  height: 130%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: width 2s, height 4s;
}

.contenitore .sezioni-home #img-streetdance,
.contenitore .sezioni-home #img-dance,
.contenitore .sezioni-home #img-poledance,
.contenitore .sezioni-home #img-fitness {
  box-shadow: 10px 10px 10px 10px #8e8e8e;
  border-radius: 10px 10px 10px 10px;
}

#titolo-orari,
#titolo-staff,
#titolo-corsi,
.contenitore #titolo-home {
  border-left: 10px solid #d48b6a;
  border-right: 10px solid #d48b6a;
  box-shadow: 0px -25px 20px 0px #4d4b4c;
  border-radius: 20px;
  font-weight: bold;
}

#titolo-corsi {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
  padding: 10px;
}

.corsi-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.corsi-section .card-corsi {
  width: 19%;
  height: 300px;
  transform: skewX(-10deg);
  position: relative;
  overflow: hidden;
  transition: ease 1s;
  cursor: pointer;
}

.corsi-section .card-corsi:hover .corso-hip-hop {
  transform: scale(1.1) skewX(10deg) rotate(7deg);
  -webkit-filter: blur(0.6px);
          filter: blur(0.6px);
}

.corsi-section .card-corsi:hover .corso-title {
  width: 90%;
  z-index: 3;
}

.corsi-section .card-corsi:hover .fa-info-circle {
  display: block;
  position: absolute;
  color: red;
  z-index: 2;
  left: 45%;
  top: 35%;
  font-size: 70px;
  transform: skewX(10deg);
}

.corsi-section .card-corsi .corso-hip-hop {
  width: 130%;
  height: auto;
  transform: skewX(10deg);
  height: 100%;
  position: absolute;
  left: -30px;
  transition: ease 1s;
}

.corsi-section .card-corsi .corso-title {
  padding: 5px;
  text-align: center;
  width: 70%;
  font-size: 100%;
  color: white;
  position: absolute;
  left: -5px;
  bottom: 5%;
  z-index: 3;
  transform: skewX(10deg);
  transition: ease 1s;
  background-color: #4e4e4e;
}

.corsi-section .card-corsi .fa-info-circle {
  display: none;
  width: 100%;
  height: 100%;
  transition: ease 1s;
}

.corsi-section .card-corsi .corsi-side-content {
  display: none;
}

.corsi-section .corsi-side-content {
  display: none;
  position: fixed;
  height: 100%;
  padding-top: 100px;
  width: 24%;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #4e4e4e;
  border-left: 5px solid black;
  -webkit-animation: slideRight linear 1s;
          animation: slideRight linear 1s;
}

.corsi-section .corsi-side-content .fa-chevron-circle-right {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: -50px;
  z-index: 10;
  color: #d48b6a;
  cursor: pointer;
}

.corsi-section .corsi-side-content .side-content-image {
  width: 100%;
  height: auto;
}

.corsi-section .corsi-side-content .side-content-title {
  color: white;
  margin: 20px;
  font-size: 40px;
}

.corsi-section .corsi-side-content .side-content-description {
  color: white;
  margin: 20px;
  max-height: 50%;
  overflow: auto;
}

.corsi-section .corsi-side-content .mini-insegnante {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-radius: 50%;
  margin-left: 20px;
  transition: ease 0.5s;
  cursor: pointer;
}

.corsi-section .corsi-side-content .mini-insegnante:hover {
  transform: scale(1.1);
}

.corsi-section .active {
  display: block;
}

.corsi-section .slideOutRight {
  -webkit-animation: slideOutRight linear 1s;
          animation: slideOutRight linear 1s;
}

@-webkit-keyframes slideRight {
  0% {
    right: -50%;
  }

  100% {
    right: 0;
  }
}

@keyframes slideRight {
  0% {
    right: -50%;
  }

  100% {
    right: 0;
  }
}

@-webkit-keyframes slideOutRight {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

@keyframes slideOutRight {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

#scroll-to-staff {
  height: 0px;
  width: 100%;
  opacity: 0;
}

#titolo-staff {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  padding: 10px;
}

.staff-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.staff-section .card-staff {
  width: 18%;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.staff-section .card-staff:hover .foto-insegnante {
  right: 12%;
}

.staff-section .card-staff:hover .retro-stile {
  right: 10px;
}

.staff-section .card-staff:hover .foto-insegnante .foto-staff {
  transform: skewX(10deg) scale(1.1) rotate(-3deg);
}

.staff-section .card-staff .foto-insegnante {
  max-width: 230px;
  width: 80%;
  height: 75%;
  position: absolute;
  right: 10%;
  top: 0;
  transform: skewX(-10deg);
  overflow: hidden;
  z-index: 3;
  transition: ease 1s;
}

.staff-section .card-staff .foto-insegnante .foto-staff {
  width: 130%;
  height: auto;
  transform: skewX(10deg);
  height: 100%;
  position: absolute;
  left: -30px;
  transition: ease 1s;
}

.staff-section .card-staff .foto-insegnante .nome-insegnante {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding-right: 10px;
  height: 50px;
  z-index: 2;
  width: 100%;
  color: #00ffe9;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.64);
}

.staff-section .card-staff .retro-stile {
  width: 80%;
  height: 85%;
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: #00ffe9;
  transform: skewX(-10deg);
  overflow: hidden;
  z-index: 2;
  transition: ease 1s;
}

.staff-section .card-staff .retro-stile .stile-insegnante {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding-right: 10px;
  height: 50px;
  z-index: 2;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.staff-section .staff-side-content {
  display: none;
  position: fixed;
  height: 100%;
  padding-top: 100px;
  width: 24%;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: #4e4e4e;
  border-right: 5px solid black;
  -webkit-animation: slideLeft linear 1s;
          animation: slideLeft linear 1s;
}

.staff-section .staff-side-content .fa-chevron-circle-left {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: rotate(180deg);
  top: 300px;
  right: -50px;
  z-index: 10;
  color: #d48b6a;
  cursor: pointer;
}

.staff-section .staff-side-content .side-content-image {
  width: 100%;
  height: 50%;
}

.staff-section .staff-side-content .side-content-title {
  color: white;
  margin: 20px;
  font-size: 30px;
}

.staff-section .staff-side-content .side-content-description {
  color: white;
  margin: 20px;
  font-size: 15px;
}

.staff-section .active {
  display: block;
}

.staff-section .slideOutLeft {
  -webkit-animation: slideOutLeft linear 1s;
          animation: slideOutLeft linear 1s;
}

@-webkit-keyframes slideLeft {
  0% {
    left: -50%;
  }

  100% {
    left: 0;
  }
}

@keyframes slideLeft {
  0% {
    left: -50%;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes slideOutLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

#scroll-to-orari {
  height: 0px;
  width: 100%;
  opacity: 0;
}

#titolo-orari {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}

.orari-section {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.orari-section .planning {
  width: 65%;
  height: 100%;
}

.orari-section .planning #planning-img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 10px 10px #383838;
}

#map {
  border: 2px solid black;
  height: 700px;
  width: 1000px;
}

#button-scroll-up {
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  -webkit-animation-name: move-up-arrow;
          animation-name: move-up-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#button-scroll-up:hover {
  cursor: pointer;
}

#button-scroll-up .fa-angle-double-up {
  transform: rotate(-90deg);
  width: 100px;
  height: 100px;
}

@-webkit-keyframes move-up-arrow {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 30px;
  }

  100% {
    bottom: 50px;
  }
}

@keyframes move-up-arrow {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 30px;
  }

  100% {
    bottom: 50px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

.contenitore {
  width: 1230px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

